__pycache__/
*.py[cod]
.venv/
venv/
build/
dist/
out/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
ytdl4k/resources/ffmpeg/*
!ytdl4k/resources/ffmpeg/.gitkeep
*.part
*.mp4
*.webm
*.mkv
*.m4a
config.toml
